<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getOauth</title>

</head>
<body>
	<h1>클라이언트 등록</h1>
	<br>
	<form action="/getoauth" th:action="@{/getoauth}" method="post">
		<p>
			<input type="text" name="appname" value="appname"/><br>
			<input type="text" name="client_id"value="client_id"/><br>
			<input type="text" name="client_secret" value="client_secret"/><br>
			<input type="text" name="authorized_grant_types" value="password,authorization_code,refresh_token,implicit"/><br>
			<input type="text" name="scope" value="read,write,trust"/><br>
			<input type="text" name="web_server_redirect_uri" value="http://localhost:8090/test"/><br>
			<input type="SUBMIT" value="send"/>
		</p>
			
	</form>
</body>
</html>
